files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDETCCAfkCFBaiCIRifLJHpAeizvyXcmHcYKmvMA0GCSqGSIb3DQEBCwUAMEUx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjUwMzI2MjEyMjE1WhcNMjYwMzI2MjEy
      MjE1WjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEApBjIfdGhUz+8TtZnKBFw+QR8n6UtyRrt2pDu6+qnFY+ThPNo
      AoCvvKhdVgjoEwjB6jZ/AuRNqzEiPQu3YRh0GwRHUeVBQTrHhKQtHip0c6BbTmx2
      rkgSJ4cRz12RmWz+vuyBSKi1cGRXTIyiG0FUgafzkNPJQAmMSH+PzKF9NYlxTU8V
      DoBAFVNMj+VDMTVHmhW8ENo/VOgrwx9yWbgm3aPoYOZw+YcA7Rzfk+pNLN2I2UaO
      heQqL4Y8gNpvWwmPGgbv5Q7okQCPwLSLhWFqxJ1654lX5j6VrllzgFtTp/SlvY0v
      njnR4AIE+CtZYquH2/eIGXS6Nt0D2WINxCvAYwIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQALWMKFD2i8z5hI9xSLCPHBoRsmFBVdFPya2uPmRUUVYuwQQxtL80jyqBmz
      WN156JxyvTv7Ng2Jmv8L1FMkhlMsGfjc39H4/Ey28Vb32FI+BRJmHB1SKacnRaJ6
      NlSaOy+12oedWHng5GMwpdPBTBujBcqKIa12JPHMqLCjkkXVNsjLaZ0iT3fv2pBk
      1+d2SiKbrNawFACSM5+Mb+U4VtvSbFE7ajeR9SoK/jrVKkk+BifVcx4cOhqhGBEh
      S0UX4xO2IuOwyOnmy2Pngm/S0mid6EJtLYicWwDttzEnBgYNnYVk9FS+M5xQ33SW
      6Jtwdm4mvMjKVIQlqMhOKac/a4p5
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEuwIBADANBgkqhkiG9w0BAQEFAASCBKUwggShAgEAAoIBAQCkGMh90aFTP7xO
      1mcoEXD5BHyfpS3JGu3akO7r6qcVj5OE82gCgK+8qF1WCOgTCMHqNn8C5E2rMSI9
      C7dhGHQbBEdR5UFBOseEpC0eKnRzoFtObHauSBInhxHPXZGZbP6+7IFIqLVwZFdM
      jKIbQVSBp/OQ08lACYxIf4/MoX01iXFNTxUOgEAVU0yP5UMxNUeaFbwQ2j9U6CvD
      H3JZuCbdo+hg5nD5hwDtHN+T6k0s3YjZRo6F5CovhjyA2m9bCY8aBu/lDuiRAI/A
      tIuFYWrEnXrniVfmPpWuWXOAW1On9KW9jS+eOdHgAgT4K1liq4fb94gZdLo23QPZ
      Yg3EK8BjAgMBAAECggEAJnSyY54Bdw98M2OWiDLSLWFqTUV5/eOkMzD89OeoYWqk
      0SbzzIZY6NbyDKwIqxFF1HwR9t0HAKQCmJjK0GPZLc2qYxxdVwqN4F1TP3sGkGRX
      kYDkrUIxkvbZ6yVL7k83QgoN4De9UYoKVWOtx8JfKgVwlJO1WZ8DM6hFTFjaDXX4
      tiLvjvx1TEIefJWaqmZuYAnibAAIYwnJuICg+sCloeUrjD3vKpFTPIfkuFVqf5/d
      SQJ7OrQzChzqchQx/TtZxQLYwn7TD51DcdIDXprWsjIjHiHFJIktf8i1vPeXE9Op
      Fft6Doz/Sh9pWOekvGfvqypR+GQOHmWbrbTMYIDqrQKBgQDQL1KTSPRsmdumuA5X
      OiDz+bXtmOrrREJfSnMMKW49l9yyI//256BStyh6sHjtoh8JD3JvNylLxOUMmbgC
      wwzFPl+Ouq7WeVnJrBgi2+AZ2FThMBbU5phCipcKyLgsEsGC9Y1/33PRtOC0keMx
      1XsXDQK28qELGFlVtM/AjPU6VQKBgQDJyTV+GPzGKSTgmHCuvhBa4tFtNf7wq7n/
      EkydeJO2RnTfFtSI8kPK+WvtNNCxkwWw4w9ZXlMHlP4rk9lXRrLoAUOOlLe0CuUS
      DZ6MLAXS86dc4ZQLMtDnQTm4Z86xA6gVAsdJ5sbFIr4c+xz7NGcWH3S+cCATHxXt
      Nd+h/nG31wJ/WkQqibIYSP5tPtyPW0LZBvA+8cZcFaaDIM4nFB7irdIq3xK86VGF
      Mlg4NPpPdLnWuxb3h0Fjpna42b3NC2WHI/7nb/uB03zKcacsz/CGOq6SHxG61JUn
      b7KnywU81d9MCHxv3gIFNeg3hhO7buAhft0lUC3jpevo0ECV0+dKbQKBgQDGohPP
      QkepxZywnj7mNOCipv5jVDDWtyULqvbSWHyHhInNhYrIGDuV1bthMIlzE/gZLRrR
      7WEsaIVfXlYnbMf2TDA1bb38NHFUOSXmc/tzsjgA3Wm/MFGmI3XvSfiUFbZioG6P
      F+Z47n9YxfS8b9Q+Wc6xHGzmhcYu0MaIj5Ff1wKBgAON2dOeDKXlpjRxFO9DzC4E
      hWHNvvIROdcXVXjev0NteKSlDcoE5j3qKUKHT1bJWNlXMxCSn7K8rOGe3QQTNdfc
      1p4xx+WagimpPmsTcw0alXwSoBnogpEB8NjS+it3QHUrLJLXWPTcXdzZ3iSjdjE6
      Up2Qw8yLD/gHEIqQXELr
      -----END PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart